<p>
以下のフォームに、エクスポート出力ファイルを指定して送信してください：
</p>
<form action="./" method="post" enctype="multipart/form-data">
<div class="form">
  <input type="file" name="file" id="file" />
  <input type="submit" value="ファイル送信"/>
</div>
</form>
<% if @result %>
<div id="result">
  <% shelves = @result.map{|k, v| v.keys }.flatten.compact.uniq %>
  <table>
  <tr>
    <th></th>
    <% shelves.each do |shelf| %>
      <th><%= shelf %></th>
    <% end %>
  </tr>
  <% @result.sort.each do |k, v| %>
    <tr>
      <th><%= k %></th>
      <% shelves.each do |shelf| %>
        <td><%= v[shelf].to_a.size %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
<% end %>
<% if @baseurl %>
<ul>
  <li><a href="<%= @baseurl %>">図書館システムに戻る</a>
</ul>
<% end %>
