<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>統計集計</title>
  <style type="text/css">
td { text-align: right }
div.form, div#result { margin: 2em }
div#result table { padding: 10px; border: gray solid 1px; }
  </style>
</head>
<body>
<div id="content">
<%= yield %>
</div>
</body>
</html>
