<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>統計集計</title>
  <style type="text/css">td { text-align: right }</style>
</head>
<body>
<div id="content">
<%= yield %>
</div>
</body>
</html>
